* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: hsl(217, 12%, 63%);
    background-color: hsl(216, 12%, 8%);
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
    opacity: 1;
}

.rating-container,
.thank-you-container {
    width: 415px;
    height: 415px;
    background-color: hsl(215, 23%, 14%);
    border-radius: 30px;
    /* display: grid; */
    padding: 30px;
}

.rating-image {
    width: 45px;
    height: 45px;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: hsl(213, 19%, 18%);
    border-radius: 50%;
    margin-bottom: 35px;
}



.rating-container h2 {
    font-family: inherit;
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    font-size: 1.9em;
    margin-bottom: 10px;
}

.rating-container p {
    line-height: 1.5em;
    margin-bottom: 30px;
}

.form-rating {
    display: grid;
}

.form-inputs {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    margin-bottom: 30px;
}

.form-inputs input {
    display: none;
}

.form-inputs label {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    background-color: hsl(213, 19%, 18%);
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

.form-inputs label:hover {
    background-color: hsl(25, 97%, 53%);
    color: white;
}


.form-inputs label:active,
.form-inputs input[type="radio"]:checked+label {
    background-color: hsl(217, 12%, 63%);
    color: white;
}

.form-rating button {
    height: 45px;
    background-color: hsl(25, 97%, 53%);
    color: white;
    border-radius: 30px;
    border: transparent;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    align-self: end;
    cursor: pointer;
}

.form-rating button:hover,
.form-rating button:active {
    background-color: white;
    color: hsl(25, 97%, 53%);
}

.thank-you-container {
    display: none;
    /* display: grid; */
    justify-items: center;
    align-items: center;
    text-align: center;
}

.selection-count {
    background-color: hsl(213, 19%, 18%);
    padding: 6px 15px;
    border-radius: 20px;
    color: hsl(25, 97%, 53%);
    letter-spacing: 0.3px;
}

.thank-you-container h2 {
    font-size: 1.8em;
    color: white;
}

.thank-you-container p {
    line-height: 1.3em;
    color: hsl(217, 12%, 63%);
    align-self: start;
}

@media (max-width: 415px) {

    .rating-container,
    .thank-you-container {
        height: 360px;
        width: 330px;
        padding: 20px;
    }

    .rating-image {
        margin-bottom: 20px;
    }

    .rating-container h2 {
        margin-bottom: 5px;
    }

    .rating-container p {
        font-size: 14px;
        margin-bottom: 26px;
    }

    .form-inputs {
        margin-bottom: 20px;
    }

    .thank-you-container p {
        margin-left: 0;
    }
}

@media (min-width: 415px) {
    .thank-you-container p {
        margin-left: 0.8em;
    }
}